version: "3.9"
services:
  pub1:
    build: ./pub
    env_file: ./pub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/order.processing
    ports:
      - "5001:5000"
    working_dir: /app
    command: python app.py

  pub2:
    build: ./pub
    env_file: ./pub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/payment.transactions
    ports:
      - "5002:5000"
    working_dir: /app
    command: python app.py

  pub3:
    build: ./pub
    env_file: ./pub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/inventory.updates
    ports:
      - "5003:5000"
    working_dir: /app
    command: python app.py

  pub4:
    build: ./pub
    env_file: ./pub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/notification.service
    ports:
      - "5004:5000"
    working_dir: /app
    command: python app.py

  pub5:
    build: ./pub
    env_file: ./pub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/analytics.events
    ports:
      - "5005:5000"
    working_dir: /app
    command: python app.py

  sub1:
    build: ./sub
    env_file: ./sub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/order.processing
      PYTHONUNBUFFERED: 1
    working_dir: /app
    command: python consumer.py

  sub2:
    build: ./sub
    env_file: ./sub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/payment.transactions
      PYTHONUNBUFFERED: 1
    working_dir: /app
    command: python consumer.py

  sub3:
    build: ./sub
    env_file: ./sub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/inventory.updates
      PYTHONUNBUFFERED: 1
    working_dir: /app
    command: python consumer.py

  sub4:
    build: ./sub
    env_file: ./sub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/notification.service
      PYTHONUNBUFFERED: 1
    working_dir: /app
    command: python consumer.py

  sub5:
    build: ./sub
    env_file: ./sub/.env
    environment:
      ACTIVEMQ_QUEUE: /queue/analytics.events
      PYTHONUNBUFFERED: 1
    working_dir: /app
    command: python consumer.py
